.App {
  text-align: center;
}
.elementHead{
  display: block;
  background-color: #f4f4f4;
  padding: 2.5rem;
  font-size: 45px;
  position: sticky;
  margin-top: 0;
  top: 0;
  text-transform: capitalize;
}
.box{
  display: flex;
  flex-wrap: wrap;
}
.box-model{
  border: 1px solid black;
  width: 40vw;
  height: auto;
  margin: 15px auto;
  background-color: #fdfdfd;
}
.box-model img{
  width: 350px;
  height: 40vh;
  padding: 30px;
}
.overflow{
  height: 100px;
  overflow-x:scroll;
  margin: auto 3%;
  line-height: 25px;
}
.bottom{
  display: flex;
  justify-content: space-evenly;
  color: hsl(200,100%,50%);
}
.head{
  margin: 3% 15%;
  height: 30px;
}
button{
  padding: 10px;
  margin: 5px;
  transition: all 1s;
  background-color: orange;
  border-radius: 10px;
}
button:hover{
  background-color: hsl(200,100%,50%);
  color: black;
  border-radius: 15px;
  border: 1px solid hsl(200,100%,50%);;
}
