.App {
  text-align: center;
}
.elementHead {
  display: block;
  background-color: #e0e0e0;
  padding: 2.5rem;
  font-size: 45px;
  position: sticky;
  margin-top: 0;
  top: 0;
  text-transform: capitalize;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.box-model {
  border: 1px solid black;
  width: 40vw;
  height: auto;
  margin: 15px auto;
  background-color: #fdfdfd;
}
.box-model img {
  width: 350px;
  height: 40vh;
  padding: 30px;
  cursor: pointer;
}
.overflow {
  height: 100px;
  overflow-x: scroll;
  margin: auto 3%;
  line-height: 25px;
}
.bottom {
  display: flex;
  justify-content: space-evenly;
  color: hsl(200, 100%, 50%);
}
.head {
  margin: 3% 15%;
  height: 30px;
  padding-bottom: 5px;
}
button {
  padding: 10px;
  margin: 5px;
  transition: all 1s;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(200, 100%, 50%);
  color: black;
  border-radius: 15px;
  border: 1px solid hsl(200, 100%, 50%);
}
.cartContainer{
  width: 40vw;
  background-color: #f4f4f4;
  margin:10vh auto;
  display: flex;
}
.cartContainer img{
  width: 200px;
}
.cartContainer input{
  border-radius: 5px;
  border: white;
  font-size: 18px;
  width:20px;
  margin: 3px;
}
.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quntitygap{
  margin: 3px;
}
.fa-star{
  color: #ff008c;
  margin-left: 3px;
}
.pricing{
  display: flex;
  justify-content: space-evenly;
}
.cartBox1{
  margin: 20px;
}
.cartBox2{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartbutton1{
  background-color: greenyellow;
  transition: all 0.7s ease;
}
.cartbutton2{
  background-color:deepskyblue;
  transition: all 0.7s ease;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}
.cartbutton1:hover, .cartbutton2:hover{
  font-size: 18px;
}
.cartHead{
  background: #f4f4f4;
  width: 40vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartcontainerMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-minus-circle, .fa-plus-circle{
  font-size: 25px;
}
.quntityAddButton{
  margin: 0;
  padding: 0;
  border-radius: 25px;
  background: #f4f4f4;
  text-decoration: none;
  border: none;
  transition: all 1s ease-in-out;
}
.quntityAddButton:hover{
  background: hsl(128, 83%, 55%);
  outline: none;
  width: 100%;
  border: none;
}
.description{
  word-spacing: 3px;
}
.color1{
  color: hsl(100, 100%, 50%);
}
.color2{
  color: hsl(200, 100%, 50%);
}
.color3{
  color: hsl(300, 100%, 50%);
}
.color4{
  color: hsl(400, 100%, 50%);
}
.color5{
  color: hsl(500, 100%, 50%);
}
.color6{
  color: hsl(600, 100%, 50%);
}
.color7{
  color: hsl(700, 100%, 50%);
}
.color8{
  color: hsl(800, 100%, 50%);
}
.color9{
  color: hsl(900, 100%, 50%);
}
.color10{
  color: hsl(1000, 100%, 50%);
}

@media screen and (max-width: 1096px) {
  body {
    background: linear-gradient(to right, #5614b0, #dbd65c);
  }
  .elementHead {
    padding: 1.5rem;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }
  .box {
    flex-direction: column;
  }
  .box-model {
    margin: 15px auto;
    width: 50vw;
    background: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  }
  .box-model img {
    width: 30vw;
    height: 30vh;
    padding: 30px;
    cursor: pointer;
  }
  .head {
    margin: 3% 15%;
    font-size: 20px;
    height: auto;
  }
  .cartHead{
    width: 80vw;
  }
  .cartContainer{
    width: 80vw;
  }
}
@media screen and (max-width: 520px) {
  .elementHead{
    padding: 0.8rem;
  }
  .box-model {
    width: 80vw;
  }
  .box-model img {
    width: 50%;
  }
  .cartContainer{
    flex-direction: column;
  }
}
